@import 'settings'

/*header*/.rocks-header
  background color-white


/*a*/.rocks-link
  display block

/*h1*/.rocks-wordmark
  color color-branding-primary
  font-size 1.3rem
  font-weight 600
  margin 0 10px

/*strong*/.rocks-wordmark-webvr
  color color-branding-primary
  order 1

/*span*/.rocks-wordmark-rocks
  color color-black

/*svg*/.rocks-logo
  background red
  // order -1
  height 80px
  // width 150px
  // display flex

  path
    fill color-branding-primary

@media screen and (min-width: width-venti)
  /*header*/.rocks-header
    align-items center
    display flex
    flex 1
    justify-content center
