@import 'settings'

/*header*/.rocks-masthead
  align-items center
  display flex
  flex 1
  justify-content center

/*h1*/.rocks-wordmark
  color color-branding-primary
  font-size 1.3rem
  font-weight 600
  margin 0 10px

/*strong*/.rocks-wordmark-webvr
  color color-branding-primary

/*span*/.rocks-wordmark-rocks
  color color-black

/*svg*/.rocks-logo
  height 30px
  width 50px

/*path*/.rocks-logo-path
  fill color-branding-primary
